:root {
    --font: "Outfit", serif;
    --main-color : rgba(81, 1, 87, 0.529);
    --font-btn : "Tektur", serif;
    --anim_font : "Exo 2", serif;
    --color-btn : radial-gradient(circle, rgb(94, 0, 131) 0%, rgb(57, 0, 82) 75%); 
    --color-text : rgb(255, 255, 255);
  }

body {
    position: fixed; 
    width: 100%;
    height: 100%;
    background: black; 
    opacity: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
    z-index: -1; 
}

body::before {
    content: '';
    background: url('https://c.tenor.com/fCML5OJ7Mh0AAAAC/tenor.gif') no-repeat; 
    background-size: cover; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; 
}


.btn_with_photo {
    font-family:  var(--font-btn);
    background-image: var(--color-btn);
    border:2px solid white;
    background-size: 200% auto;
    border-radius:20px;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(164, 164, 164, 0.834);
    color:white;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    margin: 7px;
    text-decoration:none
}

.art {
    text-align: center;
    border: 2px solid white;
    background:var(--main-color) ;
    width: 400px;
    height: 225px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

.image-container {
    width: 270px; 
    height: 270px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    border-radius: 50%; 
    overflow: hidden; 
}

.main {
    border: 5px solid white;
    width: 500px;
    backdrop-filter: blur(5px);
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    height: 90%;
    display: none;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.main.show {
    display: block;
    opacity: 1; 
}

#da {
    transition: opacity 0.5s ease-in-out;
}

.image-container {
    box-shadow: 0 0px 20px rgb(255, 255, 255); 
}

img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;  
}


#animka {
    text-align: center;
    color:var(--color-text);
    font-family: var(--anim_font);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.btn_with_photo img {
    width:20px;
    margin-right: 5px;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-family: var(--font);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size:40px;
    font-weight: 400;
    color:rgb(255, 255, 255)
}


.btn_with_photo:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

.main img[src*="glitch.me"] {
    display: block;
    margin: 20px auto;
}



@media screen and (max-width: 720px) {


    body {
        background: rgb(75, 1, 128);
    }

    body::before {
        content: none;
    }
    .art {
        width: 200px;
        height: 60%;
        margin: 1px auto;
    }

    .main {
        width: 80%;
        height: 90%;
    }

    h1 {
        font-size: 28px;
    }

    .image-container {
        width: 150px;
        height: 150px;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
    }

    .btn_with_photo {
        font-size: 16px;
        padding: 5px;
        margin: 10px;
    }
}
@media screen and (max-width: 700px) {
    .btn_with_photo {
        font-size: 14px;
        padding: 8px;
        margin: 8px;
    }

    .art {
        width: 250px;
        height: 50%;
        margin: 1px auto;
    }


    h1 {
        font-size: 24px;
    }
    .main img[src*="glitch.me"] {
        display: block;
        margin: 5px auto;
    }


    .image-container {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 650px) {
    .btn_with_photo {
        font-size: 11px;
        padding: 7px;
        margin: 5px;
    }
    .art {
        width: 200px;
        height: 52%;
        margin: 1px auto;
    }
}
